.form-group{
    border: 1px dashed rgb(0, 0, 0);
    padding: 50px 20px 50px 20px;
    width: 500px;
    margin: 100px auto 0px auto
}
.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* background: white;
    opacity: 0.7; */
}
.paper{
    background: rgba(255, 255, 255,0.8);
    position: absolute;
    opacity: 0.8;
    width: 400px;
    height: 500px;
    padding: 10px;
    margin: 45% 100px 100px 400px;
    overflow-y: scroll;
}
.form{
    width: 350px;
    margin: 20px;
}
.grid{
   margin: 20px;
   text-align: center;
}
.grid-list{
    margin: 20px;
}